  <div class="leaderboard">
    <app-user-info *ngIf="selectedMember" [member]="selectedMember" [positionX]="memberInfoX" [positionY]="memberInfoY"></app-user-info>
    <div class="loading d-flex justify-content-center" *ngIf="loading">
      <img src="assets/loading.svg" alt="loading..." />
    </div>
    <div class="ignore" *ngIf="!loading">
      <div (click)="closeMemberInfo()" class="allUIP" *ngIf="selectedMember"></div>
      <div class="users" [ngClass]="{'user-info-back': selectedMember}" >
        <div class="more">
          <div class="row">
            <div class="d-flex justify-content-center col-1">
              <img (click)="updateLeaderboard(selectedEpisode.id, selectedOrderCriterion.value)" class="icon" src="assets/refreshing.svg" alt="" />
            </div>
            <div class="col-11 criter-options">
              <div class="row">
                <div class="col-12 d-flex justify-content-end criters-up">
                  <div class="criteria">
                    <div *ngFor="let criterion of orderByCriteria"
                         (click)="changeSelectedOrderCriterion(criterion)"
                         [ngClass]="{'selected-criterion': selectedOrderCriterion.value == criterion.value }"
                         class="criterion">
                      <span>{{ criterion.name.toLowerCase() }}</span>
                    </div>
                  </div>
                  <div class="criteria">
                    <div *ngFor="let episode of episodes"
                         (click)="changeSelectedEpisode(episode)"
                         [ngClass]="{'selected-criterion': episode.id == selectedEpisode.id }"
                         class="criterion">
                      <span>{{ episode.name.toLowerCase() }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
          <app-leaderboard-member *ngFor="let leaderboardMember of members"
                                  [selectedOrderCriterion]="selectedOrderCriterion"
                                  [firstMember]="firstMember"
                                  [showUserInfo]="showUserInfo"
                                  [circumference]="circumference"
                                  [radius]="radius"
                                  [size]="size"
                                  [strokeWidth]="strokeWidth"
                                  [member]="leaderboardMember"></app-leaderboard-member>
      </div>
    </div>
  </div>
