.leaderboard{
  margin-top: 20px;
  box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.5);
  height: auto;
  width: 90%;
  background-color: #181c2b;
  padding: 20px;
  color: #fff;
}


.icon {
  height: 20px;
}

.loading {
  height: auto;
  padding: 30px;

}

.loading img{
  user-select:none;
  -webkit-user-drag: none;
  height: 100px;
}

.more {
  height: 40px;
}

.more img:hover{
  cursor: pointer;
}

.more img:active{
  opacity: 0.5;
}

.criters-up{
  float: right;
}

.criter-opt{
  font-size: 12px;
}

.criteria {
  margin-left: 10px;
}

.criterion {
  cursor: pointer;
  color: #5c6b9c;
  float: left;
  padding: 4px;
  background:#0f121b ;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #0b0e14;
}

.criterion:first-child{
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


.criterion:last-child{
  padding-right: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.criterion span{
  font-size:10px;
  user-select: none;
}

.selected-criterion{
  color: #8297db;
  background:#08090e;
}

.user-info-back{
  filter: blur(5px);
  user-select: none;
}

.allUIP{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
}
