/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  background: linear-gradient(to right, #FF512F 0%, #DD2476 100%);
  font-family: Montserrat,sans-serif!important;
  color: #fff;
}
